@model IEnumerable<sweetnes18.Areas.administrator.Models.Language>

@{
                /**/

                ViewBag.Title = "Index";
                Layout = "~/Areas/administrator/Views/Shared/_Layout.cshtml";
}



<div class="language-admin" ng-controller="translateController">
    <h2>{{'language' | translate}}</h2>

    <div class="language-admin1">
        <h1>Demo for angularJS translator</h1>

        <div class="language-admin-btn">
            <button ng-click="changeLanguage('en')">English</button>
            <button ng-click="changeLanguage('ar')">Spanish</button>
            @Html.ActionLink("Create New", "Create")
        </div>

        <p>Hello!!! <br> {{'greeting' | translate}}</p>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Keys)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.en)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ar)
                </th>
                <th>&nbsp;</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        {{ "@Html.DisplayFor(modelItem => item.Keys)" | translate}}
                    </td>
                    <td>
                        {{  "@Html.DisplayFor(modelItem => item.en)" | translate}}

                    </td>
                    <td>
                        {{ "@Html.DisplayFor(modelItem => item.ar)" | translate}}
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>

        <div>

        </div>
