@model IEnumerable<sweetnes18.Areas.administrator.Models.EmailTemplates>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped product_table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TemplateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TemplateData)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NotificationType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TemplateName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TemplateData)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NotificationType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TemplateId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TemplateId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TemplateId })
        </td>
    </tr>
}

</table>
