@model sweetnes18.Areas.Vendor.Models.ProductOffer

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Vendor/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ProductOffer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OfferCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfferCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfferType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfferType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfferAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfferAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfferStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfferStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfferDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfferDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfferEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfferEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfferAddUserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfferAddUserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfferStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfferStatus)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
