@model sweetnes18.Areas.administrator.Models.CompanyRate

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/administrator/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CompanyRate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.source)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.source)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.destination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.destination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
