@model sweetnes18.Areas.administrator.Models.Products
@{
    sweetnes18.Areas.administrator.Models.Products p = new sweetnes18.Areas.administrator.Models.Products();
    p = Model;
}
@using sweetnes18.Areas.administrator.Models

@{
    ViewBag.Title = "Edit Products";
    Layout = "~/Areas/administrator/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ProductID)
    @Html.HiddenFor(model => model.NumberofVisit)

    <div ng-controller="ProductEdit" ng-init="EditProductFunction('@ViewData["ID"]')" class="row product-edit-new">
        <input name="proimage" value="{{productdata.productimage}}" type="hidden" />
        <input type="hidden" class="form-control" value="{{productdata.NumberofVisit}}" name="ProductVisits" />
        <div class="col-md-4">
            <div class="whole_left">
                <label>Upload Cover image</label>
                <label class="browse_input input_box">
                    <div class="upload_box" style="background:url('{{productdata.productimage}}')">
                        <img style="{{hidden}}" src="/img/upload_ic_box.png">
                        <h6 style="{{hidden}}">Upload </h6>
                        <h6 style="{{hidden}}"> Product Image</h6>
                    </div>

                    <input type="file" class="form-control-file exampleInputFile1" name="photo" aria-describedby="fileHelp">
                    <span class="browse_btn">Browse</span>
                </label>

                <label>Upload other images of the product</label>
                <div>
                    
                    <label ng-repeat="i in galleryimage" class="plus imagesshow_{{i.ID}}" style="background:url('{{i.ProductValue}}');">
                        <div class="input_box">
                            <img style="{{hidden}}" src="/img/plus.png">
                            <input type="file" name="photos[]" class="form-control-file images_{{i.ID}}" aria-describedby="fileHelp">
                        </div>

                    </label>

                </div>







            </div>
        </div>
        <div class="col-md-8 names_of_product">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                    <input type="text" required class="form-control" placeholder="Product Title*" value="{{productdata.ProductTitle}}" name="ProductTitle" />
                </div>
                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                    <select required class="form-control" id="BrandID" name="BrandID">
                        <option value="">Select Product Brand *</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                    <input type="text" required class="form-control" readonly value="{{productdata.SKU}}" placeholder="Product SKU*" name="SKU" />
                </div>
                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                    <select required class="form-control" id="CatID" name="CatID"></select>
                </div>
            </div>
            <!--                Hidden Value              -->
            <input type="hidden" value="1" name="productStatus" />
            <input type="hidden" name="ProductSalePrice" value="{{productdata.ProductSalePrice}}" class="form-control" />
            <input type="hidden" required name="productimg" value="0" class="hide form-control" />
            <input type="hidden" required name="productimage" value="0" class="hide form-control" />
            <!--                Hidden Value              -->
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                    <input type="text" data-parsley-type="number" data-parsley-type="digits" required class="form-control" value="{{productdata.ProductRegulerPrice}}" name="ProductRegulerPrice" placeholder="Product Price*" />
                </div>
                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">

                    <select required class="form-control" id="userID" name="userID">
                        <option value="">Select Product Vendor *</option>

                    </select>
                </div>
            </div>
            <input type="text" class="form-control" id="usr" data-parsley-type="number" placeholder="Product Quantity *" required name="ProductQun" value="{{productdata.ProductQun}}">

            <textarea class="form-control" rows="6" id="comment" name="ProductDec" placeholder="Product Description">  {{productdata.ProductDec}} </textarea>
            <hr />
            <div style="display:block; clear:both;">
                <h2>Specifications</h2>
                <div class="row specifirows">

                    <div class="container">
                        <div class="boxes col-lg-5 col-sm-5 col-md-5 col-xs-12">
                            <input type="text" class="form-control" placeholder="Specifications Key" name="Specificationskey[]" />
                        </div>
                        <div class="boxes col-lg-5 col-sm-5 col-md-5 col-xs-12">
                            <input type="text" class="form-control" placeholder="Specifications Value" name="Specificationsvalue[]" />
                        </div>
                        <div class="boxes specibtn btns col-lg-1 col-sm-1 col-md-1 col-xs-12"><a class="btn btn-danger">+</a></div>
                    </div>
                </div>
                <div class="spec">

                    <div class="row deletedata nmbv" ng-repeat="s in  specifications">
                        <div class="container">
                            <div class="boxes col-lg-5 col-sm-5 col-md-5 col-xs-12">
                                <input required="" type="text" value="{{s.ProductKey}}" class="form-control" placeholder="Specifications Key" name="Specificationskey[]">
                            </div>
                            <div class="boxes col-lg-5 col-sm-5 col-md-5 col-xs-12">
                                <input required="" type="text" value="{{s.ProductValue}}" class="form-control" placeholder="Specifications Value" name="Specificationsvalue[]">
                            </div>
                            <div class="boxes specibtn btns col-lg-1 col-sm-1 col-md-1 col-xs-12">
                                <a class="btn btn-info">+</a>
                            </div>
                            <div class="boxes specibtnminus btns col-lg-1 col-sm-1 col-md-1 col-xs-12">
                                <a class="btn btn-danger">
                                    <i class="fa fa-trash-o" aria-hidden="true">
                                    </i>
                                </a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <hr class="hr-additirows" />
            <div style="display:block; clear:both;">
                <h2>Additional Information</h2>
                <div class="row additirows">
                    <div class="container">
                        <div class="boxes col-lg-5 col-sm-5 col-md-5 col-xs-12">
                            <input type="text" class="form-control" placeholder="Additional Information Key" name="AdditionalInformationkey[]" />
                        </div>
                        <div class="boxes col-lg-5 col-sm-5 col-md-5 col-xs-12">
                            <input type="text" class="form-control" placeholder="Additional Information Value" name="AdditionalInformationvalue[]" />
                        </div>
                        <div class="boxes Additbtn btns col-lg-1 col-sm-1 col-md-1 col-xs-12"><a class="btn btn-danger">+</a></div>
                    </div>
                </div>
                <div class="addition">

                    <div class="row deletedata nmbv" ng-repeat="a in AdditionalInformation">
                        <div class="container">
                            <div class="boxes col-lg-5 col-sm-5 col-md-5 col-xs-12">
                                <input required="" value="{{a.ProductKey}}" type="text" class="form-control" placeholder="Additional Information Key" name="AdditionalInformationkey[]">
                            </div>
                            <div class="boxes col-lg-5 col-sm-5 col-md-5 col-xs-12">
                                <input type="text" value="{{a.ProductValue}}" required="" class="form-control" placeholder="Additional Information Value" name="AdditionalInformationvalue[]">
                            </div>
                            <div class="boxes Additbtn btns col-lg-1 col-sm-1 col-md-1 col-xs-12">
                                <a class="btn btn-info">+</a>
                            </div>
                            <div class="boxes Additbtnminus btns col-lg-1 col-sm-1 col-md-1 col-xs-12">
                                <a class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="btn-link-edit"><input type="submit" value="Create" class="browse_btn buttonsd" /></div>



        </div>

    </div>
}

<div class="action-link-edit" style="display:none;">
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
